@use '../abstracts/' as *;

@each $colors, $data in $color-theme {
    @each $key, $value in $data {
        .clr-#{$colors}-#{$key} {
            color: var(--clr-#{$colors}-#{$key});
        } 
    }

    @each $key, $value in $data {
        .bg-#{$colors}-#{$key} {
            background-color: var(--clr-#{$colors}-#{$key});
        } 
    }
}

@each $colors, $data in $theme {
    @if $colors == "dark" {
        @each $key, $value in $data {
            .clr-#{$key} {
                background-color: var(--clr-#{$key}) !important;
            }
        }
    }
}

