@use '../abstracts/' as *;

body {
    background: $body-background-color;
    color: $body-font-color;
    font-family: $body-font-family;
    font-size: 16px;

    @include breakpoint(tablet) {
        font-size: 18px;
    }
}

//TYPOGRAPHY
h1{
    font-family: var(--ff-heading);
    font-size: var(--fs-900);
    font-weight: var(--fw-900);
}
h2{
    font-family: var(--ff-heading);
    font-size: var(--fs-800);
    font-weight: var(--fw-800);
}
h3{
    font-family: var(--ff-heading);
    font-size: var(--fs-700);
    font-weight: var(--fw-700);
}
h4{
    font-family: var(--ff-heading);
    font-size: var(--fs-600);
    font-weight: var(--fw-700);
}