$clr-white: hsl(0 0% 100%);
$clr-grey-light: hsl(0 0% 91%);
$clr-grey-mid: hsl(0 0% 42%);
$clr-grey-dark: hsl(0 0% 25%);
$clr-grey-darkest: hsl(0, 0%, 15%); 
$clr-black: hsl(0, 0%, 0%);

$clr-blue-white: hsl(218 47% 96%);
$clr-blue-light: hsl(218 39% 86%);
$clr-blue-mid: hsl(218 48% 39%);
$clr-blue-dark: hsl(218 36% 23%);

$clr-green-white: hsl(168 98% 81%);
$clr-green-light: hsl(168 96% 51%);
$clr-green-mid: hsl(168 100% 41%);
$clr-green-dark: hsl(168 80% 19%);

$color-theme: (
    neutral:(
        000: $clr-white,
        200: $clr-grey-light,
        400: $clr-grey-mid,
        700: $clr-grey-dark,
    ),

    primary:(
        000: $clr-blue-white,
        200: $clr-blue-light,
        400: $clr-blue-mid,
        700: $clr-blue-dark,
    ),

    accent:(
        000: $clr-green-white,
        200: $clr-green-light,
        400: $clr-green-mid,
        700: $clr-green-dark,
    ),
);

$theme: (
    dark: (
        background: $clr-grey-darkest,
        font: $clr-white,
        accent: $clr-green-mid,
        accent2: $clr-blue-dark,
        header: $clr-grey-dark,
        footer: $clr-grey-dark,
    ),

    light: (
        background: $clr-white,
        accent: $clr-green-dark,
        accent2: $clr-blue-mid,
        header: $clr-grey-light,
        footer: $clr-grey-light,
    ),
)