@use 'breakpoints' as *;


@mixin breakpoint($key) {
    $screen-size: map-get($breakpoints, $key);

    @media screen and (min-width: $screen-size) {
        @content;
    }
}

@mixin flex-base($gap: 0) {
    display: flex;
    align-items: center;
    gap: $gap;
    @content;
}

@mixin square($w: 50px, $h: 50px) {
    width: $w;
    height: $h;
}
