$spacing: (
    size-1: 1rem,
    size-2: 1.5rem,
    size-3: 2rem,
    size-4: 2.5rem,
    size-5: 3rem,
    size-6: 3.5rem,
    size-7: 4rem,
    size-8: 4.5rem,
    size-9: 5rem,
    size-10: 5.5rem,
    size-11: 6rem,
    size-12: 6.5rem,
    size-13: 7rem,
    size-14: 7.5rem,
    size-15: 8rem,
    size-16: 8.5rem,
)