@use 'breakpoints' as *;

//BODY
$body-background-color: var(--clr-background);
$body-font-color: var(--clr-font);
$body-font-family: var(--ff-primary);

//HEADER
$header-background-color: var(--clr-header);

//WRAPPER 
$wrapper-margin-inline: var(--size-6);
$wrapper-max-width: map-get($breakpoints, xl);
$wrapper-max-width-narrow: map-get($breakpoints, desktop);

//FLOW
$flow-margin-top: var(--size-4);