$font-props: (
    family: (
        primary: "system-ui",
        nav: "rubik, sans-serif, system-ui",
        heading: "montserrat, sans-serif, system-ui",
        panel-title: "spectral sc, sans-serif, system-ui",
    ),

    size: (
        default: (
            900: 3.5rem,
            800: 2.5rem,
            700: 1.75rem,
            600: 1.5rem,
            400: 1.125rem,
            300: 0.875rem,
        ),

        xl: (
            900: 3.75rem,
            800: 2.75rem,
            700: 2rem,
            600: 1.75rem,
        ),
    ),

    weight: (
        900: 900,
        800: 800,
        700: 700,
        600: 600,
        500: 500,
        400: 400,
    ),
)